<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCollegeMapper">
    
    <resultMap type="SysCollege" id="SysCollegeResult">
        <result property="collegeId"    column="college_id"    />
        <result property="name"    column="name"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updater"    column="updater"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysCollegeVo">
        select college_id, name, creator, create_time, updater, update_time from sys_college
    </sql>

    <select id="selectSysCollegeList" parameterType="SysCollege" resultMap="SysCollegeResult">
        <include refid="selectSysCollegeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="updater != null  and updater != ''"> and updater = #{updater}</if>
        </where>
    </select>
    
    <select id="selectSysCollegeByCollegeId" parameterType="Long" resultMap="SysCollegeResult">
        <include refid="selectSysCollegeVo"/>
        where college_id = #{collegeId}
    </select>
        
    <insert id="insertSysCollege" parameterType="SysCollege" useGeneratedKeys="true" keyProperty="collegeId">
        insert into sys_college
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updater != null">updater,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updater != null">#{updater},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysCollege" parameterType="SysCollege">
        update sys_college
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updater != null">updater = #{updater},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where college_id = #{collegeId}
    </update>

    <delete id="deleteSysCollegeByCollegeId" parameterType="Long">
        delete from sys_college where college_id = #{collegeId}
    </delete>

    <delete id="deleteSysCollegeByCollegeIds" parameterType="String">
        delete from sys_college where college_id in 
        <foreach item="collegeId" collection="array" open="(" separator="," close=")">
            #{collegeId}
        </foreach>
    </delete>
</mapper>