<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMajorMapper">
    
    <resultMap type="SysMajor" id="SysMajorResult">
        <result property="majorId"    column="major_id"    />
        <result property="name"    column="name"    />
        <result property="collegeId"    column="college_id"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updater"    column="updater"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysMajorVo">
        select major_id, name, college_id, creator, create_time, updater, update_time from sys_major
    </sql>

    <select id="selectSysMajorList" parameterType="SysMajor" resultMap="SysMajorResult">
        <include refid="selectSysMajorVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="collegeId != null "> and college_id = #{collegeId}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="updater != null  and updater != ''"> and updater = #{updater}</if>
        </where>
    </select>
    
    <select id="selectSysMajorByMajorId" parameterType="Long" resultMap="SysMajorResult">
        <include refid="selectSysMajorVo"/>
        where major_id = #{majorId}
    </select>
        
    <insert id="insertSysMajor" parameterType="SysMajor" useGeneratedKeys="true" keyProperty="majorId">
        insert into sys_major
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="collegeId != null">college_id,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updater != null">updater,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="collegeId != null">#{collegeId},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updater != null">#{updater},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysMajor" parameterType="SysMajor">
        update sys_major
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="collegeId != null">college_id = #{collegeId},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updater != null">updater = #{updater},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where major_id = #{majorId}
    </update>

    <delete id="deleteSysMajorByMajorId" parameterType="Long">
        delete from sys_major where major_id = #{majorId}
    </delete>

    <delete id="deleteSysMajorByMajorIds" parameterType="String">
        delete from sys_major where major_id in 
        <foreach item="majorId" collection="array" open="(" separator="," close=")">
            #{majorId}
        </foreach>
    </delete>
</mapper>