<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loan.system.mapper.StuLoanDisbursementTimeMapper">
    
    <resultMap type="StuLoanDisbursementTime" id="StuLoanDisbursementTimeResult">
        <result property="timeId"    column="time_id"    />
        <result property="academicYearId"    column="academic_year_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="updater"    column="updater"    />
    </resultMap>

    <sql id="selectStuLoanDisbursementTimeVo">
        select time_id, academic_year_id, create_time, update_time, creator, updater from stu_loan_disbursement_time
    </sql>

    <select id="selectStuLoanDisbursementTimeList" parameterType="StuLoanDisbursementTime" resultMap="StuLoanDisbursementTimeResult">
        <include refid="selectStuLoanDisbursementTimeVo"/>
        <where>  
            <if test="academicYearId != null "> and academic_year_id = #{academicYearId}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="updater != null  and updater != ''"> and updater = #{updater}</if>
        </where>
    </select>
    
    <select id="selectStuLoanDisbursementTimeByTimeId" parameterType="Long" resultMap="StuLoanDisbursementTimeResult">
        <include refid="selectStuLoanDisbursementTimeVo"/>
        where time_id = #{timeId}
    </select>
        
    <insert id="insertStuLoanDisbursementTime" parameterType="StuLoanDisbursementTime" useGeneratedKeys="true" keyProperty="timeId">
        insert into stu_loan_disbursement_time
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="academicYearId != null">academic_year_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="creator != null">creator,</if>
            <if test="updater != null">updater,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="academicYearId != null">#{academicYearId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="creator != null">#{creator},</if>
            <if test="updater != null">#{updater},</if>
         </trim>
    </insert>

    <update id="updateStuLoanDisbursementTime" parameterType="StuLoanDisbursementTime">
        update stu_loan_disbursement_time
        <trim prefix="SET" suffixOverrides=",">
            <if test="academicYearId != null">academic_year_id = #{academicYearId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="updater != null">updater = #{updater},</if>
        </trim>
        where time_id = #{timeId}
    </update>

    <delete id="deleteStuLoanDisbursementTimeByTimeId" parameterType="Long">
        delete from stu_loan_disbursement_time where time_id = #{timeId}
    </delete>

    <delete id="deleteStuLoanDisbursementTimeByTimeIds" parameterType="String">
        delete from stu_loan_disbursement_time where time_id in 
        <foreach item="timeId" collection="array" open="(" separator="," close=")">
            #{timeId}
        </foreach>
    </delete>
</mapper>